<%- include ("./header") -%>

<h1>Students</h1>

<table>
    <tr>
        <th>Nom </th>
        <th>Prénom </th>
        <th>classe </th>
        <th>delete </th>
        <th>edit </th>
    </tr>
</table>