<%- include ("./header") -%>
<h1>Hello <%= user.Stu_Firstname%> <%= user.Stu_Lastname%> !</h1>
<p>Welcome to Asimov dashboard</p>
<h2>Emploi du Temps</h2>
<table>
    <tr>
        <th>Lundi</th>
        <th>Mardi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
    </tr>
</table> 