
<%- include ("./studentHeader") -%>

<h1>Marks</h1>

<form action="/mark/student/discipline" method="POST">
    <p>
        <label for="Mark_Id_Discipline">discipline ?</label>
        <select name="Mark_Id_Discipline" id="Mark_Id_Discipline">
            <option value="1">Mathematics</option>
            <option value="2">French</option>
            <option value="3">Biology</option>
            <option value="4">Science</option>
            <option value="5">English</option>
        </select>
        <input type="submit" />
    </p>
</form>
<table>
    <tr>
        <th>mark</th>
        <th>discipline</th>
    </tr>

    <% if(marksData.length!=0){ var i=1; marksData.forEach(function(data){ %>
        <tr>
            <td>
                <%=data.Mark_Value %>
            </td>
            <td>
                <%= disciplines[data.Mark_Id_Discipline]%>
            </td>
        </tr>
        <% i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
                <% } %>
</table>